<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نوین باطری | @ViewData["Title"]</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/Content/Client/assets/css/bootstrap.min.css">
    <!-- icofont -->
    <link rel="stylesheet" href="/Content/Client/assets/css/fontawesome.min.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="/Content/Client/assets/css/animate.css">
    <!-- select 2  -->
    <link rel="stylesheet" href="/Content/Client/assets/css/select2.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/Content/Client/assets/css/owl.carousel.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/Content/Client/assets/css/magnific-popup.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/Content/Client/assets/css/flaticon.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/Content/Client/assets/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/Content/Client/assets/css/responsive.css">
    <!-- Demo styles -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        .swiper-container {
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .gallery-top {
            height: 80%;
            width: 100%;
        }

        .gallery-thumbs {
            height: 20%;
            box-sizing: border-box;
            padding: 10px 0;
        }

            .gallery-thumbs .swiper-slide {
                height: 100%;
                opacity: 0.4;
            }

            .gallery-thumbs .swiper-slide-thumb-active {
                opacity: 1;
            }
    </style>

</head>

<body>


    @Html.Action("navbar", "home")

    @RenderBody()

    <!-- footer area one start -->
    @Html.Action("footer", "home")
    <!-- footer area one end -->
    <!-- back to top start -->
    <div class="back-to-top bg-orange">
        <i class="fas fa-rocket"></i>
    </div>
    <!-- back to top end -->
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- jquery -->
    <script src="/Content/Client/assets/js/jquery.js"></script>
    <!-- popper -->
    <script src="/Content/Client/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/Content/Client/assets/js/bootstrap.min.js"></script>
    <!-- way poin js-->
    <script src="/Content/Client/assets/js/waypoints.min.js"></script>
    <!-- owl carousel -->
    <script src="/Content/Client/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/Content/Client/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow js-->
    <script src="/Content/Client/assets/js/wow.min.js"></script>
    <!-- counterup js-->
    <script src="/Content/Client/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/Content/Client/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Isotope -->
    <script src="/Content/Client/assets/js/isotope.pkgd.min.js"></script>
    <!-- countdown -->
    <script src="/Content/Client/assets/js/countdown.js"></script>
    <!-- select 2 -->
    <script src="/Content/Client/assets/js/select2.min.js"></script>
    <!-- owl carousel2 thumb -->
    <script src="/Content/Client/assets/js/owl.carousel2.thumbs.js"></script>
    <!-- main -->
    <script src="/Content/Client/assets/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@("@")popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

    <!-- Initialize Swiper -->
    <script>
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            loop: true,
            freeMode: true,
            loopedSlides: 5, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 5, //looped slides should be the same
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
    </script>

    <script>

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: true,
            margin: 30,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: false,
                }
            }
        });

    </script>

    <script>
        $(document).ready(function () {
            $("#ButtonEmail").click(function (e) {
                //if ($("#usernameInput").val() == "")
                //    alert("Username cannot be empty");
                //else if ($("#passwordInput").val() == "")
                //    alert("Password cannot be empty");
                //else {
                $.ajax({
                    type: "POST",
                    url: "/Home/RegisterEmail",
                    contentType: "application/json; charset=utf-8",
                    data: '{"email":"' + $("#emailSub").val() + '","Name":"' + "کاربری که با ایمیل ثبت شده" + '","Message":"' + "کاربری که با ایمیل ثبت شده" + '","Phone":"' + "0" + '"}',

                    success: function (data) {
                        if (data == 'success') {
                            $("#ButtonEmail").text("با موفقیت ثبت شد")
                            $("#ButtonEmail").css("background-color", "green");
                            $("#emailSub").val("")
                        }
                        if (data == 'fail') {

                            //$("#text").val("صحیح نیست")
                            $("#ButtonEmail").text("صحیح نیست")
                            $("#ButtonEmail").css("background-color", "red");
                            $("#emailSub").val("")

                        };
                        if (data == 'faill') {
                            $("#ButtonEmail").text("کاربر دیگری با همین ایمیل در سیستم ثبت شده")
                            $("#ButtonEmail").css("background-color", "red");
                            $("#emailSub").val("")

                        };

                        e.preventDefault()
                    },
                    error: function () {
                        alert('error');
                    }


                });
                //}
                return false;
            });
        });
    </script>
    <script>
        var addCount = 1;
        function IncreaseProductCount() {
            addCount += 1;
            $("#txtProductCount").html(addCount);
        }

        function DecreaseProductCount() {
            if (addCount > 1)
                addCount -= 1;
            $("#txtProductCount").html(addCount);
        }

        function AddToCart(id, mainFeature) {

            addCount = addCount <= 0 ? 1 : addCount

            var mainFeatureId = null;
            if (mainFeature != null) {
                mainFeatureId = mainFeature;
            }
            if (mainFeatureId === null) {
                $.ajax({
                    type: 'POST',
                    url: '/Shop/AddToCart?productId=' + id + '&count=' + addCount,
                    success: function (data) {
                        data = JSON.parse(data);

                        if (data.Message.toLowerCase() == "finished" && addCount > 1) {
                            toastr.info("این تعداد از محصول در انبار موجود نیست");
                        }
                        else if (data.Message.toLowerCase() == "finished") {
                            toastr.info("محصول در انبار موجود نیست");
                        }
                        else if (data.Message.toLowerCase() == "success") {
                            toastr.success("محصول به سبد اضافه گردید");
                        }

                        GetCart();
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Shop/AddToCart?productId=' + id + '&mainFeatureId=' + mainFeatureId + '&count=' + addCount,
                    success: function (data) {
                        data = JSON.parse(data);

                        if (data.Message.toLowerCase() == "finished" && addCount > 1) {
                            toastr.info("این تعداد از محصول در انبار موجود نیست");
                        }
                        else if (data.Message.toLowerCase() == "finished") {
                            toastr.info("محصول در انبار موجود نیست");
                        }
                        else if (data.Message.toLowerCase() == "success") {
                            toastr.success("محصول به سبد اضافه گردید");
                        }

                        GetCart();
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                    }
                });
            }
        }
        function RemoveFromCart(id, mainFeatureId, complete) {
            $.ajax({
                type: 'POST',
                url: '/Shop/RemoveFromCart?productId=' + id + '&mainFeatureId=' + mainFeatureId + '&complete=' + complete,
                success: function (data) {
                    data = JSON.parse(data);

                    if (data.Message.toLowerCase() == "success") {
                        toastr.info("محصول از سبد حذف گردید");
                    }

                    GetCart();
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
        }
        function GetCart() {
            $.ajax({
                type: 'GET',
                url: '/Home/CartSection',
                success: function (data) {
                    $("#cartSection").html(data);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
            if ($("#CartTable") !== undefined) {
                $.ajax({
                    type: 'GET',
                    url: '/Shop/CartTable',
                    success: function (data) {
                        $("#CartTable").html(data);
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                    }
                });
            }
        }
    </script>
    <script>
    function AddToWishList(id) {
        var userIsLoggedIn = '@(User.Identity.IsAuthenticated)';
        if (userIsLoggedIn === 'False') {
            location.href = "/Customer/Auth/Login";
        } else {
            $.ajax({
                type: 'POST',
                url: '/Shop/AddToWishList?productId=' + id,
                success: function (data) {
                    toastr.success("محصول مورد نظر به لیست علاقه مندی های شما افزوده شد");
                    GetWishList();
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
        }
    }
    function removeFromWishList(id) {
        $.ajax({
                type: 'POST',
                url: '/Shop/RemoveFromWishList?productId=' + id,
            success: function (data) {
                toastr.info("محصول از لیست علاقه مندی های شما حذف گردید");
                GetWishList();
            },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
    }
        function GetWishList() {
            $.ajax({
                type: 'GET',
                url: '/Home/WishListSection',
                success: function (data) {
                    $("#wishListSection").html(data);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
            if ($("#CartTable") !== undefined) {
                $.ajax({
                    type: 'GET',
                    url: '/Shop/WishListTable',
                    success: function (data) {
                        $("#WishListTable").html(data);
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                    }
                });
            }
    }
    </script>
    <script>
        $(".search-form").submit(function (e) {
            e.preventDefault();
            var searchString = $(this).children(".searchString").val();
            location.href = '/Shop/ProductList/Search/' + searchString;
        });

        function search(e) {
            e.preventDefault();
            var searchString = $("#searchString").val();
            location.href = '/Shop/ProductList/Search/' + searchString;
        }

        $(".expandable").click(function (e) {
            var target = e.target;
            console.log(target);
            $(target).toggleClass("edeactive");
            $(target).toggleClass("eactive");
            $(target).next().slideToggle();
        })

    </script>

    @RenderSection("scripts", required: false)

</body>


</html>


