@model SpadStorePanel.Web.ViewModels.ArticleListViewModel


@{
    ViewBag.Title = "جزئیات بلاگ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">@ViewBag.Title</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li><a href="/Blog">وبلاگ</a></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
<!-- blog details page content area start -->
<section class="blog-details-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-blog-post text-center">
                    <img src="~/Files/ArticleImages/Image/@Model.Image" />
                    <!-- single blog post -->
                    <div class="meta-time">
                        <!-- meta time -->

                        <span class="month">@Model.PersianDate</span>

                    </div><!-- //.meta time -->
                    <div class="details-container">
                        <!-- details contaienr -->

                        <div class="post-body">
                            <!-- post body -->
                            <h3 style="margin-top:15px;" class="title"> @Model.Title </h3>
                            <div class="meta-tags">
                                <!-- meta tags -->
                                <ul>
                                    <li><i class="fas fa-comments"></i> @Model.CountVoute نظر</li>
                                    @*<li><i class="fas fa-pencil-alt"></i>نویسنده @Model.Author</li>*@
                                </ul>
                            </div>
                            <p>
                                @Model.Title
                            </p>
                            <p>
                                @Model.ShortDescription
                            </p>
                            <blockquote class="post-blockquote">
                                <!-- post blockquote -->
                                <div class="icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="content">
                                    <p>
                                        @Model.ShortDescription
                                    </p>
                                    <span class="post">- توسط @Model.Author</span>
                                </div>
                            </blockquote><!-- //.post blockquote -->
                            <p>
                                @Html.Raw(Model.Description)
                            </p>
                            <div class="post-bottom-content">
                                <!-- post bottom content -->
                                <div class="top-content">
                                    <!-- top content -->
                                    <div class="left-content">
                                        <h4 class="title">برچسب های مرتبط</h4>
                                    </div>
                                    <div class="right-content">
                                        <h4 class="title">اشتراک اجتماعی</h4>
                                    </div>
                                </div><!-- //.top content -->
                                <div class="bottom-content">
                                    <!-- bottom content -->
                                    <div class="left-content">
                                        <!-- left content -->
                                        <ul>
                                            @foreach (var item in ViewBag.Tags)
                                            {
                                                <li><a href="#">@item.Title</a></li>
                                            }

                                        </ul>
                                    </div><!-- //.left content -->
                                    <div class="right-content">
                                        <!-- right content -->
                                        <h4 class="title">اشتراک اجتماعی</h4>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-typo3"></i></a></li>
                                            <li><a href="#"><i class="fab fa-staylinked"></i></a></li>
                                            <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
                                        </ul>
                                    </div><!-- right content -->
                                </div><!-- //.bottom content -->
                            </div><!-- //.post bottom content -->
                        </div><!-- //.post body -->
                        <div class="single-post-separator"></div>
                        @Html.Action("ShowComment", "blog")
                        <div class="single-blog-page-separator"></div>
                        <div class="comments-form-area">
                            <!-- comments form area -->
                            <h3 class="title">ارسال نظر</h3>
                            <div class="comment-form-wrapper">
                                <!-- comment form wrapper -->

                                @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "commentform", @class = "" }))
                                {
                                    <input type="hidden" id="ArticleId" name="ArticleId" value="@Model.Id">
                                    <input type="hidden" id="ParentId" name="ParentId" value="">


                                    <div class="form-element margin-bottom-15">
                                        <div class="has-icon textarea">
                                            <textarea name="Message" rows="20" cols="8" placeholder="نظرات خود را تایپ کنید...."
                                                      class="input-field borderd textarea"></textarea>
                                            <div class="the-icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-element margin-bottom-20">
                                        <div class="has-icon ">
                                            <input name="Name" type="text" class="input-field borderd"
                                                   placeholder="نام خود را بنویسید....">
                                            <div class="the-icon">
                                                <i class="fas fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-element margin-bottom-20">
                                        <div class="has-icon ">
                                            <input name="Email" type="email" class="input-field borderd"
                                                   placeholder="ایمیل خود را بنویسید....">
                                            <div class="the-icon">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-element margin-top-40 d-flex justify-content-center">
                                        <input type="submit" value="ارسال نظر" class="submit-btn btn-rounded">
                                    </div>



                                }

                            </div>
                        </div><!-- comments form area -->
                    </div>
                </div>
            </div><!-- //.col-lg-8 -->
        </div><!-- //.row -->
    </div><!-- //.container -->
</section>
<!-- blog details page content area end -->



<style>
    .my-error-class {
        color: darkred !important; /* red */
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#commentform").validate({
            errorClass: "my-error-class",
            rules: {
                Name: "required",
                Message: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "نام خود را وارد کنید",
                Message: "پیام خود را وارد کنید",
                Email: {
                    required: "ایمیل خود را وارد کنید",
                    email: "ایمیل وارد شده معتبر نیست"
                },
            }
        });
    </script>
    }
