@model List<SpadStorePanel.Web.ViewModels.LatestArticlesViewModel>
@{
    ViewBag.Title = "وبلاگ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productgroupid = ViewBag.ProductGroupId;
}


<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">@ViewBag.Title</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
<!-- blog page content area start -->
<section class="blog-page-content-area">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div  style="cursor: pointer;"
                         class="single-our-story-item">
                        <!-- single our story item -->
                        <div class="thumb">
                            <a href="/Blog/BlogDetail/@item.Id">
                                <img src="~/Files/ArticleImages/Thumb/@item.Image" alt="our story">
                            </a>
                        </div>
                        <div class="conent">
                            <a href="/Blog/BlogDetail/@item.Id">
                                <span class="time">@item.PersianDate</span>

                                <h4 class="title">@item.Title</h4>
                            <p>
                                @item.ShortDescription
                            </p>
                            </a>
                        </div>
                    </div><!-- //.single our story item -->
                </div>
            }
            @*<nav style="
    margin: auto;
    padding: 58px 0 0px 0;" aria-label="Page navigation">
                <div class="d-flex justify-content-center">
                    <ul class="pagination">

                        @if (ViewBag.PageCount > 1)

                        {
                            if ((int)ViewBag.PageID > 1)
                            {
                                if (ViewBag.searchVal != null)
                                {


                                    <li class="page-item ">
                                        <a class="page-link page-link-prev" href="?txtsearch=@ViewBag.searchVal&page=@((int)ViewBag.PageID-1)" aria-label="Previous"
                                           tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true">
                                                <i class="icon-long-arrow-right"></i>
                                            </span>قبلی
                                        </a>
                                    </li>
                                }
                                else if (ViewBag.min != null && ViewBag.max != null)
                                {
                                    <li class="page-item ">
                                        <a class="page-link page-link-prev" href="?ProductGroupId=@productgroupid&max=@ViewBag.max&min=@ViewBag.min&page=@((int)ViewBag.PageID-1)" aria-label="Previous"
                                           tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true">
                                                <i class="icon-long-arrow-right"></i>
                                            </span>قبلی
                                        </a>
                                    </li>
                                }

                                else if (ViewBag.BrandId != null)
                                {


                                    <li class="page-item ">
                                        <a class="page-link page-link-prev" href="?BrandId=@ViewBag.BrandId&ProductGroupId=@productgroupid&page=@((int)ViewBag.PageID-1)" aria-label="Previous"
                                           tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true">
                                                <i class="icon-long-arrow-right"></i>
                                            </span>قبلی
                                        </a>
                                    </li>
                                }
                                else if (ViewBag.SizeId != null)
                                {

                                    <li class="page-item ">
                                        <a class="page-link page-link-prev" href="?SizeId=@ViewBag.SizeId&ProductGroupId=@productgroupid&page=@((int)ViewBag.PageID-1)" aria-label="Previous"
                                           tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true">
                                                <i class="icon-long-arrow-right"></i>
                                            </span>قبلی
                                        </a>
                                    </li>

                                }
                                else if (ViewBag.ProductGroupId != null)
                                { 

                                <li class="page-item ">
                                    <a class="page-link page-link-prev" href="?ProductGroupId=@productgroupid&page=@((int)ViewBag.PageID-1)" aria-label="Previous"
                                       tabindex="-1" aria-disabled="true">
                                        <span aria-hidden="true">
                                            <i class="icon-long-arrow-right"></i>
                                        </span>قبلی
                                    </a>
                                </li>


                            }
                            else
                            {

                                <li class="page-item ">
                                    <a class="page-link page-link-prev" href="?page=@((int)ViewBag.PageID-1)" aria-label="Previous"
                                       tabindex="-1" aria-disabled="true">
                                        <span aria-hidden="true">
                                            <i class="icon-long-arrow-right"></i>
                                        </span>قبلی
                                    </a>
                                </li>
                            }
                        }

                        for (int i = 1; i <= (ViewBag.PageCount); i++)
                        {
                            if (ViewBag.searchVal != null)
                            {

                                <li class="page-item @(ViewBag.PageID==i?"active":"")" aria-current="page">
                                    <a class="page-link"
                                       href="?txtsearch=@ViewBag.searchVal&page=@i">
                                        @i
                                    </a>
                                </li>

                            }
                            else if (ViewBag.min != null && ViewBag.max != null)
                            {

                                <li class="page-item @(ViewBag.PageID==i?"active":"")" aria-current="page">
                                    <a class="page-link"
                                       href="?ProductGroupId=@productgroupid&max=@ViewBag.max&min=@ViewBag.min&page=@i">
                                        @i
                                    </a>
                                </li>

                            }
                            else if (ViewBag.BrandId != null)
                            {


                                <li class="page-item @(ViewBag.PageID==i?"active":"")" aria-current="page">
                                    <a class="page-link"
                                       href="?BrandId=@ViewBag.BrandId&ProductGroupId=@productgroupid&page=@i">
                                        @i
                                    </a>
                                </li>
                            }
                            else if (ViewBag.SizeId != null)
                            {



                                <li class="page-item @(ViewBag.PageID==i?"active":"")" aria-current="page">
                                    <a class="page-link"
                                       href="?SizeId=@ViewBag.SizeId&ProductGroupId=@productgroupid&page=@i">
                                        @i
                                    </a>
                                </li>
                            }
                            else if (ViewBag.ProductGroupId != null)
                            {


                                <li class="page-item @(ViewBag.PageID==i?"active":"")" aria-current="page">
                                    <a class="page-link"
                                       href="?ProductGroupId=@productgroupid&page=@i">
                                        @i
                                    </a>
                                </li>
                            }
                            else
                            {

                                <li class="page-item @(ViewBag.PageID==i?"active":"")" aria-current="page">
                                    <a class="page-link"
                                       href="?page=@i">
                                        @i
                                    </a>
                                </li>
                            }

                        }


                        if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)

                        {
                            if (ViewBag.searchVal != null)
                            {
                                <li class="page-item">
                                    <a class="page-link page-link-next" href="?txtsearch=@ViewBag.searchVal&page=@((int)ViewBag.PageID+1)" aria-label="Next">
                                        بعدی <span aria-hidden="true">
                                            <i class="icon-long-arrow-left"></i>
                                        </span>
                                    </a>
                                </li>

                            }

                            else if (ViewBag.min != null && ViewBag.max != null)
                            <li class="page-item">
                                <a class="page-link page-link-next" href="?ProductGroupId=@productgroupid&max=@ViewBag.max&min=@ViewBag.min&page=@((int)ViewBag.PageID+1)" aria-label="Next">
                                    بعدی <span aria-hidden="true">
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                </a>
                            </li>

                        }
                        else if (ViewBag.BrandId != null)
                        {
                            <li class="page-item">
                                <a class="page-link page-link-next" href="?BrandId=@ViewBag.BrandId&ProductGroupId=@productgroupid&page=@((int)ViewBag.PageID+1)" aria-label="Next">
                                    بعدی <span aria-hidden="true">
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                </a>
                            </li>

                        }

                        else if (ViewBag.SizeId != null)
                        {
                            <li class="page-item">
                                <a class="page-link page-link-next" href="?SizeId=@ViewBag.SizeId&ProductGroupId=@productgroupid&page=@((int)ViewBag.PageID+1)" aria-label="Next">
                                    بعدی <span aria-hidden="true">
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                </a>
                            </li>

                        }
                        else if (ViewBag.ProductGroupId != null)
                        {

                            <li class="page-item">
                                <a class="page-link page-link-next" href="?ProductGroupId=@productgroupid&page=@((int)ViewBag.PageID+1)" aria-label="Next">
                                    بعدی <span aria-hidden="true">
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link page-link-next" href="?page=@((int)ViewBag.PageID+1)" aria-label="Next">
                                    بعدی <span aria-hidden="true">
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                </a>
                            </li>
                        }


                    }
                }
                    </ul>
                </div>
            </nav>



        </div>
    </div>
</section>
 blog page content area end*@ 