@model IEnumerable<SpadStorePanel.Web.ViewModels.ArticleListViewModel>


@foreach (var item in Model)
{

    <article class="entry entry-grid">
        <figure class="entry-media">
            <a href="/Blog/BlogDetail/@item.Id">
                <img style="width:100%;height:300px;" src="~/Files/ArticleImages/Image/@item.Image" alt="توضیحات عکس">
            </a>
        </figure><!-- End .entry-media -->

        <div class="entry-body">
            <div class="entry-meta justify-content-start">
                <a href="#">@item.PersianDate</a>
                <span class="meta-separator">|</span>
                <a href="#">@item.CountVoute دیدگاه</a>
            </div><!-- End .entry-meta -->

            <h2 class="entry-title">
                <a href="/Blog/BlogDetail/@item.Id">@item.Title</a>
            </h2><!-- End .entry-title -->

            <div class="entry-cats">

                <a href="#">@item.Author</a>،
                <a href="#">@item.GroupArticleName</a>
            </div><!-- End .entry-cats -->
        </div><!-- End .entry-body -->
    </article><!-- End .entry -->

}