@model SpadStorePanel.Web.ViewModels.CartModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "ثبت نهایی";
}



@*<div class="contant">
        <div id="banner-part" class="banner inner-banner">
            <div class="container">
                <div class="bread-crumb-main">
                    <h1 class="banner-title">ثبت نهایی</h1>
                    <div class="breadcrumb">
                        <ul class="inline">
                            <li><a href="/">خانه</a></li>
                            <li>ثبت نهایی</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-part ptb-100">
            <div class="container">
                <form class="main-form" action="/Shop/Checkout" method="post">
                    @if (ViewBag.Errors.Count > 0)
                    {
                        <div class="row">
                            <div class="col-12 alert alert-danger">
                                @foreach (string error in ViewBag.Errors)
                                {
                                    <div>@error</div>
                                }
                            </div>
                        </div>
                    }

                    @{
                        var overallPrice = ViewBag.DiscountAmount + Model.TotalPrice;
                    }
                    <div class="row">
                        @if (ViewBag.Errors.Count < 1) // don't show checkout form if there are errors
                        {
                            @Html.Action("CheckoutForm", "Shop", new { invoiceNumber = ViewBag.InvoiceNumber })
                        }

                        <div class="col-12 col-lg-4">
                            <div class="heading-part mb-30 mb-sm-20">
                                <h3>اقلام سفارش شما</h3>
                            </div>
                            <div class="checkout-products sidebar-product mb-60">
                                <ul>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <li>
                                            <div class="pro-media">
                                                <a href="/Product/@item.Id/@item.ProductName.Replace(' ', '-')">
                                                    <img alt="@item.ProductName"
                                                         src="/Files/ProductImages/Thumb/@item.Image">
                                                </a>
                                            </div>
                                            <div class="pro-detail-info">
                                                <a href="/Product/@item.Id/@item.ProductName.Replace(' ', '-')" class="product-title">
                                                    @item.ProductName
                                                </a>
                                                <div class="price-box">
                                                    <span class="price">@item.Price.ToString("##,###") تومان</span>
                                                </div>
                                                <div class="checkout-qty">
                                                    <div>
                                                        <label>تعداد </label>
                                                        <span class="info-deta">@item.Quantity</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                            @if (overallPrice > 200000)
                            {
                                <div class="free-delivery mb-30 mb-sm-20">
                                    <div class="delivery-icon"><i class="fas fa-shipping-fast"></i></div>
                                    <div class="delivery-text"><span>ارسال رایگان محموله</span></div>
                                </div>
                            }

                            @if (ViewBag.DiscountCode.Equals(""))
                            {
                                <div class="checkout-discount-section-container mb-20">

                                    <div class="check-box-container">
                                        <div>
                                            <label for="" class="control-label chkbox-label">کد تخفیف دارید؟</label>
                                        </div>
                                        <div>
                                            <input id="chkHasDiscountCode" name="chkHasDiscountCode" type="checkbox" class="form-control fashioned-checkbox" />
                                            <label id="lblHasDiscountCode" for="chkHasDiscountCode" class="chkbox">Toggle</label>
                                        </div>
                                    </div>


                                    <div class="checkout-discount-section">

                                        <span class="inputdesc"><i class="fa fa-info-circle"></i> شما تنها امکان اعمال یک کد تخفیف را دارید.</span>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="text" id="txtDiscountCode" name="txtDiscountCode" placeholder="کد تخفیف" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-color btn-discount" onclick="ApplyDiscountCode(event, @ViewBag.InvoiceNumber)">اعمال</button>
                                            </div>
                                        </div>

                                        <div class="discount-message"></div>

                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="checkout-discount-section-container mb-20">

                                    <div class="check-box-container">
                                        <div>
                                            <label for="" class="control-label chkbox-label">کد تخفیف شما:</label>
                                        </div>
                                    </div>


                                    <div class="checkout-discount-section" style="display:block">

                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="text" id="txtDiscountCode" name="txtDiscountCode" placeholder="کد تخفیف" value="@ViewBag.DiscountCode" disabled="disabled" />
                                            </div>
                                        </div>

                                        <span class="inputdesc"><i class="fa fa-info-circle"></i> شما تنها امکان اعمال یک کد تخفیف را دارید.</span>

                                    </div>

                                </div>
                            }


                            <div class="complete-order-detail commun-table gray-bg mb-30">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                            <tr>
                                                <td><b>تاریخ</b></td>
                                                <td>@ViewBag.Today</td>
                                            </tr>
                                            <tr>
                                                <td><b>شماره سفارش</b></td>
                                                <td>#@ViewBag.InvoiceNumber</td>
                                            </tr>
                                            <tr>
                                                <td><b>مبلغ سفارش</b></td>
                                                <td>@overallPrice.ToString("##,###") تومان</td>
                                            </tr>
                                            <tr>
                                                @{
                                                    var strDiscount = ViewBag.DiscountAmount == 0 ? "0 تومان" : ViewBag.DiscountAmount.ToString("##,###") + " تومان";
                                                }
                                                <td><b>تخفیف</b></td>
                                                <td id="tdDiscountAmount">@strDiscount</td>
                                            </tr>
                                            <tr>
                                                <td><b>مبلغ نهایی</b></td>
                                                <td>
                                                    <div class="price-box"><span class="price finalPrice">@Model.TotalPrice.ToString("##,###") تومان</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>روش پرداخت</b></td>
                                                <td>درب منزل</td>
                                            </tr>
                                            <tr>
                                                <td><b>شماره سفارش</b></td>
                                                <td>#011052</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@




@*<main class="main">
    <div class="page-header text-center" style="background-image: url('/Files/StaticContentImages/Image/@ViewBag.BanerImage')">
        <div class="container">
            <h1 class="page-title">صفحه پرداخت<span>فروشگاه</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item"><a href="/shop">فروشگاه</a></li>
                <li class="breadcrumb-item active" aria-current="page">صفحه پرداخت</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                </div><!-- End .checkout-discount -->
                <form action="/Shop/Checkout" method="post">
                    <div class="row">


                        @if (ViewBag.Errors.Count < 1) // don't show checkout form if there are errors
                        {
                            @Html.Action("CheckoutForm", "Shop", new { invoiceNumber = ViewBag.InvoiceNumber })
                        }
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">سفارش شما</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>محصول</th>
                                            <th class="text-left">جمع</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.CartItems)
                                        {
                                            <tr>
                                                <td><a href="./Product/@item.Id/@item.ProductName.Replace(' ', '-')">@item.ProductName</a></td>
                                                <td class="text-left">@item.Price.ToString("##,###") تومان</td>
                                            </tr>
                                        }
                                        @{
                                            var overallPrice = ViewBag.DiscountAmount + Model.TotalPrice;
                                            var strDiscount = ViewBag.DiscountAmount == 0 ? "0 تومان" : ViewBag.DiscountAmount.ToString("##,###") + " تومان";
                                        }
                                        <tr class="summary-subtotal">
                                            <td>جمع سبد خرید</td>
                                            <td class="text-left">@overallPrice.ToString("##,###") تومان</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr class="summary-subtotal">
                                            <td>تخفیف</td>
                                            <td class="text-left">@strDiscount</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>تاریخ </td>
                                            <td class="text-left">@ViewBag.Today</td>
                                        </tr>
                                        <tr>
                                            <td><b>شماره سفارش</b></td>
                                            <td class="text-left">#@ViewBag.InvoiceNumber</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>مبلغ قابل پرداخت :</td>
                                            <td class="text-left">@Model.TotalPrice.ToString("##,###") تومان</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">ثبت</span>
                                        <span class="btn-hover-text">پرداخت</span>
                                    </button>
                                </div>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->*@



<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">@ViewBag.Title</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
<!-- checkout page content area start -->
<div class="checkout-page-content-area">
    <div class="container">
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="notification-area">
                        <!-- notification area -->
                        بازگشت مشتری؟ <a href="#">برای ورود اینجا کلیک کنید</a>
                    </div><!-- //.notification area -->
                    <div class="notification-area">
                        <!-- notification area -->
                        کد تخفیف دارید؟ <a href="#">برای وارد کردن کد خود اینجا را کلیک کنید</a>
                    </div><!-- //.notification area -->
                </div>
            </div>*@
        <form action="/Shop/Checkout" method="post" class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content-area">
                        <h3 class="title">جزئیات صورت حساب</h3>
                        @if (ViewBag.Errors.Count < 1) // don't show checkout form if there are errors
                        {
                            @Html.Action("CheckoutForm", "Shop", new { invoiceNumber = ViewBag.InvoiceNumber })
                        }
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content-area">
                        <h3 class="title">سفارش شما</h3>
                        <ul class="order-list">
                            <li>
                                <div class="single-order-list heading">
                                    محصول <span class="right">جمع</span>
                                </div>
                            </li>
                            <li class="name">
                                @foreach (var item in Model.CartItems)
                                {
                                    <a href="Shop/ProductDetails/@item.Id/">
                                        <div class="single-order-list">
                                            @item.ProductName @item.Price.ToString("##,###") × @item.Quantity <span class="right">@{ var totalSingleProduct = item.Quantity * item.Price;} @totalSingleProduct.ToString("##,###") تومان</span>
                                        </div>
                                    </a>
                                }
                            </li>
                            <li>
                                @{
                                    var overallPrice = ViewBag.DiscountAmount + Model.TotalPrice;
                                    var strDiscount = ViewBag.DiscountAmount == 0 ? "0 تومان" : ViewBag.DiscountAmount.ToString("##,###") + " تومان";
                                }
                                <div class="single-order-list title-bold">
                                    جمع سبد خرید <span class="right normal">@overallPrice.ToString("##,###") تومان</span>
                                </div>
                            </li>
                            <li class="shipping">
                                <div class="single-order-list title-bold">
                                    تاریخ
                                    <span class="right normal">
                                        @ViewBag.Today
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="single-order-list title-bold">
                                    شماره سفارش <span class="right normal">#@ViewBag.InvoiceNumber</span>
                                </div>
                            </li>
                            <li>
                                <div class="single-order-list title-bold">
                                    مبلغ پراختی <span class="right normal">@Model.TotalPrice.ToString("##,###") تومان</span>
                                </div>
                            </li>
                        </ul>

                            @*<div class="checkbox-element account">
                                    <div class="checkbox-wrapper">
                                        <label class="checkbox-inner">
                                            پرداخت نقد هنگام تحویل
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="notify-area">
                                    پرداختی با کارت و یا نقدی
                                </div>
                                <div class="credit-card-area">
                                    <div class="left-content">
                                        <div class="checkbox-element account">
                                            <div class="checkbox-wrapper">
                                                <label class="checkbox-inner">
                                                    کارت اعتباری (نوار)
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-content">
                                        <ul>
                                            <li>
                                                <img src="/Content/client/assets/img/payment-logo/01.png" alt="payment-logo">
                                            </li>
                                            <li>
                                                <img src="/Content/client/assets/img/payment-logo/02.png" alt="payment-logo">
                                            </li>
                                            <li>
                                                <img src="/Content/client/assets/img/payment-logo/03.png" alt="payment-logo">
                                            </li>
                                            <li>
                                                <img src="/Content/client/assets/img/payment-logo/04.png" alt="payment-logo">
                                            </li>
                                            <li>
                                                <img src="/Content/client/assets/img/payment-logo/05.png" alt="payment-logo">
                                            </li>
                                            <li>
                                                <img src="/Content/client/assets/img/payment-logo/06.png" alt="payment-logo">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="checkbox-element account">
                                    <div class="checkbox-wrapper">
                                        <label class="checkbox-inner">
                                            من خواندن و قبول کردم <a href="#" class="base-color">
                                                شرایط
                                                و ضوابط *
                                            </a>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>*@
                            <div class="btn-wrapper">
                                <button type="submit" class="submit-btn">
                                    بررسی و پرداخت
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- checkout page content area end -->



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section LoadingOverlay
{
    @Scripts.Render("~/Vendors/")
}



