@model SpadStorePanel.Web.ViewModels.ProductDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"جزئیات محصول {Model.Product.ShortTitle}";
}


@*<style>
        .activities a.active {
            background-color: #ff8641;
        }
    </style>

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="/Files/ProductImages/Image/@Model.Product.Image" data-zoom-image="/Files/ProductImages/Image/@Model.Product.Image"
                                         alt="@Model.Product.ShortTitle">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="#" data-image="/Files/ProductImages/Image/@Model.Product.Image"
                                       data-zoom-image="/Files/ProductImages/Image/@Model.Product.Image">
                                        <img src="/Files/ProductImages/Image/@Model.Product.Image" alt="@Model.Product.ShortTitle">
                                    </a>
                                    @foreach (var item in Model.ProductGalleries)
                                    {
                                        <a class="product-gallery-item active" href="#" data-image="/Files/ProductImages/ProductGallery/@item.Image"
                                           data-zoom-image="/Files/ProductImages/ProductGallery/@item.Image">
                                            <img src="/Files/ProductImages/ProductGallery/@item.Image" alt="">
                                        </a>
                                    }

                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">@Model.Product.Title</h1>
                            <!-- End .product-title -->

                            <div class="ratings-container">
                                @{
                                    var rate = (Model.Product.Rate < 6 ? Model.Product.Rate : 5);
                                    rate = (rate > 0 ? rate : 0);
                                    var ratingPercentage = Model.Product.Rate * 100 / 5;
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: @ratingPercentage%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                }

                                <a class="ratings-text" href="#product-review-link" id="review-link">
                                    ( @Model.ProductComments.Count نظر
                                    )
                                </a>
                            </div><!-- End .rating-container -->
                            <div class="ratings-container">
                                @if (Model.PriceAfterDiscount < Model.Price)
                                {
                                    <div class="col-md-4">
                                        <span class="product-price"><span id="productPriceAfterDiscount">@Model.PriceAfterDiscount.ToString("##,###")&nbsp;</span>تومان</span>
                                    </div>
                                    <div class="col-md-8 rtl">
                                        <del class="price"><span id="productPrice">@Model.Price.ToString("##,###")</span> </del>
                                    </div><!-- End .ratings -->
                                }
                                else if (Model.Price != 0)
                                {
                                    <span class="product-price"><span id="productPrice">@Model.Price.ToString("##,###") &nbsp;</span> تومان</span>
                                }
                            </div>
                            <div class="product-content">
                                <p>
                                    @{
                                        var descParts = new List<string>();

                                        if (Model.Product.ShortDescription != null)
                                        {
                                            descParts = Model.Product.ShortDescription.Split('\n').ToList();
                                        }
                                    }
                                    <ul class="product-desc-content rtl">
                                        @foreach (var desc in descParts)
                                        {
                                            if (!string.IsNullOrWhiteSpace(desc))
                                            {
                                                <li>@desc</li>
                                            }
                                        }
                                    </ul>
                                </p>
                            </div><!-- End .product-content -->

                            @if (Model.Price > 0)
                            {
                                <div class="details-filter-row details-row-size">
                                    <label for="qty">تعداد : </label>
                                    <div class="product-details-quantity">
                                        <div class="input-group  input-spinner">
                                            <div class="input-group-append"><button class="btn btn-decrement btn-spinner" onclick="IncreaseProductCount()" style="min-width: 26px"><i class="icon-plus"></i></button></div>
                                            <div class="form-control"><span readonly="readonly" id="txtProductCount">1</span></div>
                                            <div class="input-group-prepend"><button class="btn btn-decrement btn-spinner" onclick="DecreaseProductCount()" style="min-width: 26px"><i class="icon-minus"></i></button></div>
                                        </div>
                                    </div><!-- End .product-details-quantity -->
                                </div><!-- End .details-filter-row -->

                                <div class="product-details-action">
                                    <a href="javascript:void(0)" onclick="AddToCart(@Model.Product.Id,$('#mainFeatureId').val(), $('#txtProductCount').val())" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>

                                    <div class="details-action-wrapper">
                                        <a href="javascript:void(0)" onclick="AddToWishList(@Model.Product.Id)" class="btn-product btn-wishlist"
                                           title="لیست علاقه مندی">
                                            <span>
                                                افزودن
                                                به
                                                علاقه مندی
                                            </span>
                                        </a>

                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .product-details-action -->
                            }
                            else
                            {
                                <div class="product-details-action">
                                    <a href="tel:@ViewBag.CallForProductNumber.Title" class="btn-product btn-cart"><span>برای سفارش محصول تماس بگیرید</span></a>

                                    <div class="details-action-wrapper">
                                        <a href="javascript:void(0)" onclick="AddToWishList(@Model.Product.Id)" class="btn-product btn-wishlist"
                                           title="لیست علاقه مندی">
                                            <span>
                                                افزودن
                                                به
                                                علاقه مندی
                                            </span>
                                        </a>

                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .product-details-action -->
                            }

                            <div class="product-details-footer">
                                <div class="product-cat text-center">
                                    <span>دسته بندی : </span>
                                    @if (Model.Group != null)
                                    {
                                        <a href="/Shop/ProductList/@Model.Group.Id">@Model.Group.Title</a>
                                    }

                                </div><!-- End .product-cat -->


                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                           href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                           aria-selected="true">توضیحات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                           role="tab" aria-controls="product-info-tab" aria-selected="false">اطلاعات بیشتر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="#brand" data-toggle="tab"
                           href="#brand" role="#tab" aria-controls="brand"
                           aria-selected="false">درباره برند</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab"
                           href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                           aria-selected="false">نظرات (@Model.ProductComments.Count)</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                         aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>نظر (@Model.ProductComments.Count)</h3>
                            @if (Model.ProductComments.Count() != 0)
                            {
                                var todayDate = new DateTime();
                                foreach (var comment in Model.ProductComments)
                                {
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a class="text-dark" href="#">نام: @comment.Name</a></h4>
                                                <div class="ratings-container">
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">@comment.AddedDate</span>
                                            </div><!-- End .col -->
                                            <div class="col-12">
                                                <div class="review-content">
                                                    <p>
                                                        @comment.Message
                                                    </p>
                                                </div><!-- End .review-content -->


                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                }
                            }

                        </div><!-- End .نظر -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
            <!--Comments-->
            <div class="reply">
                <div class="heading">
                    <h3 class="title">ارسال یک دیدگاه</h3><!-- End .title -->
                    <p class="title-desc">
                        ایمیل شما منتشر نخواهد شد، فیلد های اجباری با علامت * مشخص
                        شده اند.
                    </p>
                </div><!-- End .heading -->
                {
                <input type="hidden" id="ProductId" name="ProductId" value="@Model.Product.Id">
                <div class="row">
                    <label for="Message" class="sr-only">دیدگاه</label>
                    <textarea name="Message" id="Message" cols="30" rows="4" class="form-control" required="" placeholder="دیدگاه شما *"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="Name" class="sr-only">نام</label>
                        <input type="text" class="form-control" id="Name" name="Name" required="" placeholder="نام شما *">
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <label for="reply-email" class="sr-only">ایمیل</label>
                        <input type="email" class="form-control" id="Email" name="Email" required="" placeholder="ایمیل شما *">
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->

                <button type="submit" class="btn btn-outline-primary-2 float-right">
                    <span>ارسال دیدگاه</span>
                    <i class="icon-long-arrow-left"></i>
                </button>
                }
            </div>
            <!--End Comments-->
        </div><!-- End .container -->
    </div><!-- End .page-content -->*@



<style>
    li a.selected {
        background-color: #ff8641 !important;
        color: white !important;
    }
</style>
<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">@ViewBag.Title</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
<!-- product details content area  start -->
<div class="product-details-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 ">

                <!-- <div class="left-content-area"> -->
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b1.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b2.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b3.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b4.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b5.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b6.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b7.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b8.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b9.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b10.jpg" width="100%" alt="">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b1.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b2.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b3.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b4.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b5.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b6.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b7.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b8.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b9.jpg" width="100%" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/client/pic/b10.jpg" width="100%" alt="">
                        </div>
                    </div>
                </div>

                <!-- Swiper JS -->
                <!-- </div> -->
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="right-content-area">
                    <!-- right content area -->
                    <div class="top-content startopProducts">
                        <ul class="review">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i style="transform: scaleX(-1);" class="fas fa-star-half-alt"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li class="reviewes">23 <small>بازدید</small> </li>
                        </ul>
                        <span class="orders">سفارش (200+)</span>
                    </div>
                    <div class="bottom-content">
                        <h3 class="title">@Model.Product.Title</h3>
                        <div class="price-area">
                            <div class="left">
                                @if (Model.PriceAfterDiscount < Model.Price)
                                {
                                    <span class="sprice" id="productPriceAfterDiscount">@Model.PriceAfterDiscount.ToString("##,###")</span><span class="sprice">&nbsp; تومان</span>
                                    <span class="dprice"><del id="productPrice">@Model.Price.ToString("##,###") </del>تومان</span>
                                }
                                else if (Model.Price != 0)
                                {
                                    <span class="sprice" id="productPrice">@Model.Price.ToString("##,###") </span><span class="sprice">&nbsp; تومان</span>
                                }
                            </div>
                        </div>
                        <ul class="product-spec">
                            <li>برند: <span class="right">باتری ماشین </span></li>
                            <li>کد محصول: <span class="right">d12</span></li>
                            <li>ولت: <span class="right">120 </span></li>
                            <li>موجود: <span class="right base-color">موجود است </span></li>
                        </ul>
                        <div class="pdescription">
                            <h4 class="title">توضیح</h4>
                            <p>
                                @Model.Product.ShortDescription
                            </p>

                        </div>
                        <div class="paction">
                            <div class="qty">
                                <ul>
                                    <li><span class="qtminus"><i class="fas fa-minus"></i></span></li>
                                    <li><span class="qttotal" id="txtProductCount">1</span></li>
                                    <li><span class="qtplus"><i class="fas fa-plus"></i></span></li>
                                </ul>
                            </div>
                            @*<ul class="activities">
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-hourglass"></i></a></li>
                                    <li><a href="#"><i class="fas fa-share-square"></i></a></li>
                                </ul>*@
                            <div class="details-filter-row details-row-size" id="product-main-btn">
                                @{
                                    var featureName = Model.ProductMainFeatures.FirstOrDefault().Feature.Title;

                                    var i = 0;

                                    <label>@featureName : </label>
                                    <ul class="activities">
                                        @foreach (var item in Model.ProductMainFeatures)
                                        {
                                            var className = "";
                                            i++;

                                            if (i == 1)
                                            {
                                                className = "selected";
                                            }
                                            @*<a href="javascript:void(0)" onclick="UpdateProductPrice(@item.ProductId,@item.Id, this)" class="test1 b @className">
                                                    @(item.SubFeature != null ? item.SubFeature.Value : item.Value)
                                                </a>*@
                                            <li>
                                                <a href="javascript:void(0)" onclick="UpdateProductPrice(@item.ProductId,@item.Id, this)" class="test1 b @className">
                                                    <i class="">
                                                        @(item.SubFeature != null ? item.SubFeature.Value : item.Value)
                                                    </i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div><!-- End .details-filter-row -->
                            <input type="hidden" name="mainFeatureId" id="mainFeatureId" value="@Model.ProductMainFeatures.FirstOrDefault().Id" />

                            <div class="btn-wrapper">
                                <a href="javascript:void(0)" onclick="AddToCart(@Model.Product.Id,$('#mainFeatureId').val(), $('#txtProductCount').val())" class="boxed-btn">
                                    افزودن به
                                    سبد
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- //. right content area -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-area">
                    <div class="product-details-tab-nav">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="item-review-tab" data-toggle="tab"
                                   href="#item_review" role="tab" aria-controls="item_review"
                                   aria-selected="true">بررسی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="descr-tab" data-toggle="tab" href="#descr" role="tab"
                                   aria-controls="descr" aria-selected="false">توضیحات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="method-tab" data-toggle="tab" href="#method" role="tab"
                                   aria-controls="method" aria-selected="false">ویژگی ها</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="item_review" role="tabpanel"
                             aria-labelledby="item-review-tab">
                            <div class="item_review_content">
                                <h4 class="title">مشخصات فنی</h4>
                                <ul class="product-specification">
                                    <!-- product specification -->
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">برند</span>
                                            <span class="details">صبا باتری</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">ارتفاع مورد</span>
                                            <span class="details">30 سانتی متر</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">عرض مورد</span>
                                            <span class="details">30 سانتی متر</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">وزن مورد</span>
                                            <span class="details">20 کیلوگرم</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">کد مدل مورد</span>
                                            <span class="details">MF841HN/A</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">کشور سازنده</span>
                                            <span class="details">ایران</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">مناسب برای خودرو های</span>
                                            <span class="details">ایرانی ، کره ای</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">ولتاژ</span>
                                            <span class="details">120 ولت</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">طول عمر</span>
                                            <span class="details">9 ماه</span>
                                        </div>
                                    </li>
                                </ul><!-- //.product specification -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="descr" role="tabpanel" aria-labelledby="descr-tab">
                            <div class="descr-tab-content">
                                <h4 class="title">توضیحات محصول</h4>
                                <p>
                                    @Model.Product.ShortDescription
                                </p>
                                <p>
                                    @Model.Product.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="method" role="tabpanel" aria-labelledby="method-tab">
                            <div class="more-feature-content">
                                <h4 class="title">دیگر ویژگی ها</h4>
                                <div class="feature-list-wrapper">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <ul class="features-list">
                                                <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <ul class="features-list">
                                                <li><i class="fas fa-check"></i> ارسال رایگان</li>
                                                <li><i class="fas fa-check"></i> ارسال رایگان</li>
                                                <li><i class="fas fa-check"></i> ارسال رایگان</li>
                                                <li><i class="fas fa-check"></i> ارسال رایگان</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <ul class="features-list">
                                                <li><i class="fas fa-check"></i> کیفیت عالی</li>
                                                <li><i class="fas fa-check"></i> کیفیت عالی</li>
                                                <li><i class="fas fa-check"></i> کیفیت عالی</li>
                                                <li><i class="fas fa-check"></i> کیفیت عالی</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <ul class="features-list">
                                                <li><i class="fas fa-check"></i> نصب ساده و آسان</li>
                                                <li><i class="fas fa-check"></i> نصب ساده و آسان</li>
                                                <li><i class="fas fa-check"></i> نصب ساده و آسان</li>
                                                <li><i class="fas fa-check"></i> نصب ساده و آسان</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است.
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است.
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است.
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product details content area end -->
<!-- recently added start -->
<div class="recently-added-area product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="recently-added-nav-menu">
                    <!-- recently added nav menu -->
                    <ul>
                        <li>به تازگی اضافه شده</li>
                    </ul>
                </div><!-- //.recently added nav menu -->
            </div>
            @Html.Action("LatestProductsSection", "Shop", new { take = 5 })


        </div>
    </div>
</div>
<!-- recently added end -->




@section scripts{
    <script>
        $(document).ready(function () {
            //$('#glasscase').glassCase({
            //    'thumbsPosition': 'bottom',
            //    'widthDisplayPerc': 100,
            //    isDownloadEnabled: false,
            //    zoomPosition: 'left'
            //});

            // Get the container element
            var btnContainer = document.getElementById("product-main-btn");

            // Get all buttons with class="btn" inside the container
            var btns = btnContainer.getElementsByClassName("test1");

            // Loop through the buttons and add the active class to the current/clicked button
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("b selected");
                    console.log(current)
                    current[0].className = current[0].className.replace(" b selected", "");
                    this.className += " b selected";
                });
            }

        });

        function UpdateProductPrice(productId, mainFeatureId, target) {

            $.ajax({
                type: 'GET',
                url: '/Shop/GetProductPrice?productId=' + productId + '&mainFeatureId=' + mainFeatureId,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#productPrice").html(obj.price);
                    //$("#stiky-productPrice").html(obj.price);
                    $("#mainFeatureId").val(mainFeatureId);
                    $("#productPriceAfterDiscount").html(obj.priceAfterDiscount);
                    //$("#stiky-productPriceAfterDiscount").html(obj.priceAfterDiscount);

                    //$(".active-color").removeClass("active-color");
                    //var selected = target.getElementsByClassName("spn-product-code")[0];
                    //console.log(selected);
                    //selected.classList.add("active-color");

                    //$(".product-side-price-box").LoadingOverlay("hide");
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
        }
    </script>

    @*<script>
        function AddToCartD(id, mainFeature) {
            $("#preloader").show();
            var mainFeatureId = null;
            if (mainFeature != null) {
                mainFeatureId = mainFeature;
            }
            if (mainFeatureId === null) {
                $.ajax({
                    type: 'POST',
                    url: '/Cookie/AddToCart?productId=' + id,
                    success: function (data) {
                        window.location.href = "/Shop/Detail?id=" + id;

                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                        $("#preloader").fadeOut(1000);
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Cookie/AddToCart?productId=' + id + '&mainFeatureId=' + mainFeatureId,
                    success: function (data) {
                        GetCart();
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                        $("#preloader").fadeOut(1000);
                    }
                });
            }
        }
    </script>*@

    <script>
        function AddToWishListD(id) {
            $("#loading").show();
            $.ajax({
                type: 'POST',
                url: '/Cookie/AddToWishList?productId=' + id,
                success: function (data) {
                    //   var t = ".product_" + id;
                    //$(t).css("color", "red");
                    //relod();
                    window.location.href = "/Cookie/WishListTable";
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#loading").fadeOut(1000);
                }
            });
        }
    </script>

    <script>
        function submitFormpr() {
            // Initiate Variables With Form Content

            var email = $("#emailpr").val();
            var name = $("#namepr").val();
            var message = $("#messagepr").val();
            var ProductId = $("#ProductId").val();
            var Rate = $("#ratepr").val() * 10;

            $.ajax({
                type: "POST",
                url: "/Shop/RegisterCommentProduct",
                data: "Email=" + email + "&Name=" + name + "&Message=" + message + "&ProductId=" + ProductId + "&Rate=" + Rate,
                success: function (text) {
                    if (text == "success") {

                        $("#submitButtonpr").css("background-color", "green");
                        $("#submitButtonpr").text("ثبت شد");
                        $("#emailpr").val("");
                        $("#namepr").val("");
                        $("#messagepr").val("");
                        $("#Rate").val("");
                        location.reload(true);

                    } else {
                        $("#submitButtonpr").css("background-color", "red");
                        $("#submitButtonpr").text("خطا");
                    }
                }
            });
        }

    </script>
}
