@model SpadStorePanel.Web.ViewModels.ProductDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"جزئیات محصول {Model.Product.ShortTitle}";
}



<style>
    li a.selected {
        background-color: #ff8641 !important;
        color: white !important;
    }
</style>
<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">@ViewBag.Title</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
<!-- product details content area  start -->
<div class="product-details-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 ">
                <!-- <div class="left-content-area"> -->
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Files/ProductImages/Image/@Model.Product.Image" width="100%" alt="">
                        </div>
                        @foreach (var item in Model.ProductGalleries)
                        {
                            <div class="swiper-slide">
                                <img src="~/Files/ProductImages/ProductGallery/@item.Image" width="100%" alt="">
                            </div>
                        }
                        @*<div class="swiper-slide">
                                <img src="/Content/client/pic/b1.jpg" width="100%" alt="">
                            </div>*@
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Files/ProductImages/Thumb/@Model.Product.Image" width="100%" alt="">
                        </div>
                        @foreach (var item in Model.ProductGalleries)
                        {
                            <div class="swiper-slide">
                                <img src="~/Files/ProductImages/ProductGallery/@item.Image" width="100%" alt="">
                            </div>
                        }

                        @*<div class="swiper-slide">
                                <img src="/Content/client/pic/b3.jpg" width="100%" alt="">
                            </div>*@
                    </div>
                </div>

                <!-- Swiper JS -->
                <!-- </div> -->
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="right-content-area">
                    <!-- right content area -->
                    <div class="top-content startopProducts">
                        @{
                            var rate = (Model.Product.Rate < 6 ? Model.Product.Rate : 5);
                            rate = rate > 0 ? rate : 0;
                            var rateInt = Math.Abs(rate);
                            var lostRateInt = 5 - rateInt;
                        }
                    <ul class="review">
                        @for (int j = 0; j < rateInt; j++)
                        {
                            <li><i class="fas fa-star"></i></li>
                        }
                        @*<li><i style="transform: scaleX(-1);" class="fas fa-star-half-alt"></i></li>*@
                        @for (int j = 0; j < lostRateInt; j++)
                        {
                            <li><i class="far fa-star"></i></li>
                        }
                        @*<li class="reviewes">23 <small>بازدید</small> </li>*@
                    </ul>
                            @*<span class="orders">سفارش (200+)</span>*@
                    </div>
                    <div class="bottom-content">
                        <h3 class="title">@Model.Product.Title</h3>
                        <div class="price-area">
                            <div class="left">
                                @if (Model.PriceAfterDiscount < Model.Price)
                                {
                                    <span class="sprice" id="productPriceAfterDiscount">@Model.PriceAfterDiscount.ToString("##,###")</span><span class="sprice">&nbsp; تومان</span>
                                    <span class="dprice"><del id="productPrice">@Model.Price.ToString("##,###") </del>تومان</span>
                                }
                                else if (Model.Price != 0)
                                {
                                    <span class="sprice" id="productPrice">@Model.Price.ToString("##,###") </span><span class="sprice">&nbsp; تومان</span>
                                }
                            </div>
                        </div>
                        <ul class="product-spec">
                            <li>برند: <span class="right">@Model.Product.Brand.Name </span></li>
                            @*<li>کد محصول: <span class="right">d12</span></li>*@
                            @*<li>ولت: <span class="right">120 </span></li>*@
                            @{var stak = Model.ProductMainFeatures.FirstOrDefault().Quantity > 0 ? "موجود است" : "موجود نیست";}
                            <li>موجود: <span class="right base-color">@stak  </span></li>
                        </ul>
                        <div class="pdescription">
                            <h4 class="title">توضیح</h4>
                            <p>
                                @Model.Product.ShortDescription
                            </p>

                        </div>
                        <div class="paction">
                            <div class="qty">
                                <ul>
                                    <li><span class="qtminus"><i class="fas fa-minus"></i></span></li>
                                    <li><span class="qttotal" id="txtProductCount">1</span></li>
                                    <li><span class="qtplus"><i class="fas fa-plus"></i></span></li>
                                </ul>
                            </div>
                            @*<ul class="activities">
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-hourglass"></i></a></li>
                                    <li><a href="#"><i class="fas fa-share-square"></i></a></li>
                                </ul>*@
                            <div class="details-filter-row details-row-size" id="product-main-btn">
                                @{
                                    var featureName = Model.ProductMainFeatures.FirstOrDefault().Feature.Title;

                                    var i = 0;

                                    <label>@featureName : </label>
                                    <ul class="activities">
                                        @foreach (var item in Model.ProductMainFeatures)
                                        {
                                            var className = "";
                                            i++;

                                            if (i == 1)
                                            {
                                                className = "selected";
                                            }
                                            @*<a href="javascript:void(0)" onclick="UpdateProductPrice(@item.ProductId,@item.Id, this)" class="test1 b @className">
                                                    @(item.SubFeature != null ? item.SubFeature.Value : item.Value)
                                                </a>*@
                                            <li>
                                                <a href="javascript:void(0)" onclick="UpdateProductPrice(@item.ProductId,@item.Id, this)" class="test1 b @className">
                                                    <i class="">
                                                        @(item.SubFeature != null ? item.SubFeature.Value : item.Value)
                                                    </i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div><!-- End .details-filter-row -->
                            <input type="hidden" name="mainFeatureId" id="mainFeatureId" value="@Model.ProductMainFeatures.FirstOrDefault().Id" />

                            <div class="btn-wrapper">
                                <a href="javascript:void(0)" onclick="AddToCart(@Model.Product.Id, $('#mainFeatureId').val(), $('#txtProductCount').text())" class="boxed-btn">
                                    افزودن به
                                    سبد
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- //. right content area -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-area">
                    <div class="product-details-tab-nav">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="item-review-tab" data-toggle="tab"
                                   href="#item_review" role="tab" aria-controls="item_review"
                                   aria-selected="true">مشخصات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="descr-tab" data-toggle="tab" href="#descr" role="tab"
                                   aria-controls="descr" aria-selected="false">توضیحات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="method-tab" data-toggle="tab" href="#method" role="tab"
                                   aria-controls="method" aria-selected="false">ویژگی ها</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="item_review" role="tabpanel"
                             aria-labelledby="item-review-tab">
                            <div class="item_review_content">
                                <h4 class="title">مشخصات فنی</h4>
                                <ul class="product-specification">
                                    <!-- product specification -->
                                    @foreach (var item in Model.Specifications)
                                    {
                                        <li>
                                            <div class="single-spec">
                                                <!-- single specification -->
                                                <span class="heading">@item.Key</span>
                                                <span class="details">@item.Value</span>
                                            </div>
                                        </li>
                                    }
                                </ul><!-- //.product specification -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="descr" role="tabpanel" aria-labelledby="descr-tab">
                            <div class="descr-tab-content">
                                <h4 class="title">توضیحات محصول</h4>
                                <p>
                                    @Model.Product.ShortDescription
                                </p>
                                <p>
                                    @Html.Raw(Model.Product.Description)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="method" role="tabpanel" aria-labelledby="method-tab">
                            <div class="item_review_content">
                                <h4 class="title">دیگر ویژگی ها</h4>
                                <ul class="product-specification">
                                    <!-- product specification -->
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">مدل خودرو</span>
                                            <span class="details">@Model.Group.Title</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-spec">
                                            <!-- single specification -->
                                            <span class="heading">برند</span>
                                            <span class="details">@Model.Product.Brand.Name</span>
                                        </div>
                                    </li>
                                    @foreach (var item in Model.ProductMainFeatures)
                                    {
                                        <li>
                                            <div class="single-spec">
                                                <!-- single specification -->
                                                <span class="heading">@item.Feature.Title</span>
                                                <span class="details">@(item.SubFeature != null ? item.SubFeature.Value : item.Value)</span>
                                                <span class="heading">(@item.Price.ToString("##,###") تومان)</span>
                                            </div>
                                        </li>
                                    }
                                    @if (Model.ProductFeatureValues.Count() > 0)
                                    {
                                        var allSubFeatureIds = new List<Int32>();

                                        foreach (var item in Model.ProductFeatureValues)
                                        {
                                            if (!allSubFeatureIds.Contains(item.Feature.Id))
                                            {
                                                allSubFeatureIds.Add(item.Feature.Id);

                                                string allSubFeatures = "";
                                                var subFearueValues = new List<string>();
                                                <li>
                                                    <div class="single-spec">
                                                        <!-- single specification -->

                                                        <span class="heading">@item.Feature.Title</span>

                                                        @{ 
                                                            foreach (var subFeature in item.Feature.SubFeatures)
                                                            {
                                                                subFearueValues.Add(subFeature.Value);
                                                            }

                                                            allSubFeatures = string.Join("، ", subFearueValues);
                                                        }

                                                        <span class="details">@allSubFeatures</span>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }

                                </ul>
                                    @*<div class="feature-list-wrapper">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <ul class="features-list">
                                                    <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                    <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                    <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                    <li><i class="fas fa-check"></i> 24/7 پشتیبانی آنلاین</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده از طراحان گرافیک است...
                                    </p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product details content area end -->
<!-- recently added start -->
<div class="recently-added-area product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="recently-added-nav-menu">
                    <!-- recently added nav menu -->
                    <ul>
                        <li>به تازگی اضافه شده</li>
                    </ul>
                </div><!-- //.recently added nav menu -->
            </div>
            @Html.Action("LatestProductsSection", "Shop", new { take = 5 })


        </div>
    </div>
</div>
<!-- recently added end -->




@section scripts{
    <script>
        $(document).ready(function () {
            //$('#glasscase').glassCase({
            //    'thumbsPosition': 'bottom',
            //    'widthDisplayPerc': 100,
            //    isDownloadEnabled: false,
            //    zoomPosition: 'left'
            //});

            // Get the container element
            var btnContainer = document.getElementById("product-main-btn");

            // Get all buttons with class="btn" inside the container
            var btns = btnContainer.getElementsByClassName("test1");

            // Loop through the buttons and add the active class to the current/clicked button
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("b selected");
                    console.log(current)
                    current[0].className = current[0].className.replace(" b selected", "");
                    this.className += " b selected";
                });
            }

        });

        function UpdateProductPrice(productId, mainFeatureId, target) {

            $.ajax({
                type: 'GET',
                url: '/Shop/GetProductPrice?productId=' + productId + '&mainFeatureId=' + mainFeatureId,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#productPrice").html(obj.price);
                    //$("#stiky-productPrice").html(obj.price);
                    $("#mainFeatureId").val(mainFeatureId);
                    $("#productPriceAfterDiscount").html(obj.priceAfterDiscount);
                    //$("#stiky-productPriceAfterDiscount").html(obj.priceAfterDiscount);

                    //$(".active-color").removeClass("active-color");
                    //var selected = target.getElementsByClassName("spn-product-code")[0];
                    //console.log(selected);
                    //selected.classList.add("active-color");

                    //$(".product-side-price-box").LoadingOverlay("hide");
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
        }
    </script>

    @*<script>
            function AddToCartD(id, mainFeature) {
                $("#preloader").show();
                var mainFeatureId = null;
                if (mainFeature != null) {
                    mainFeatureId = mainFeature;
                }
                if (mainFeatureId === null) {
                    $.ajax({
                        type: 'POST',
                        url: '/Cookie/AddToCart?productId=' + id,
                        success: function (data) {
                            window.location.href = "/Shop/Detail?id=" + id;

                        },
                        error: function (data) {
                            console.log("error");
                            console.log(data);
                        },
                        complete: function () {
                            $("#preloader").fadeOut(1000);
                        }
                    });
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/Cookie/AddToCart?productId=' + id + '&mainFeatureId=' + mainFeatureId,
                        success: function (data) {
                            GetCart();
                        },
                        error: function (data) {
                            console.log("error");
                            console.log(data);
                        },
                        complete: function () {
                            $("#preloader").fadeOut(1000);
                        }
                    });
                }
            }
        </script>*@

    <script>
        function AddToWishListD(id) {
            $("#loading").show();
            $.ajax({
                type: 'POST',
                url: '/Cookie/AddToWishList?productId=' + id,
                success: function (data) {
                    //   var t = ".product_" + id;
                    //$(t).css("color", "red");
                    //relod();
                    window.location.href = "/Cookie/WishListTable";
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#loading").fadeOut(1000);
                }
            });
        }
    </script>

    <script>
        function submitFormpr() {
            // Initiate Variables With Form Content

            var email = $("#emailpr").val();
            var name = $("#namepr").val();
            var message = $("#messagepr").val();
            var ProductId = $("#ProductId").val();
            var Rate = $("#ratepr").val() * 10;

            $.ajax({
                type: "POST",
                url: "/Shop/RegisterCommentProduct",
                data: "Email=" + email + "&Name=" + name + "&Message=" + message + "&ProductId=" + ProductId + "&Rate=" + Rate,
                success: function (text) {
                    if (text == "success") {

                        $("#submitButtonpr").css("background-color", "green");
                        $("#submitButtonpr").text("ثبت شد");
                        $("#emailpr").val("");
                        $("#namepr").val("");
                        $("#messagepr").val("");
                        $("#Rate").val("");
                        location.reload(true);

                    } else {
                        $("#submitButtonpr").css("background-color", "red");
                        $("#submitButtonpr").text("خطا");
                    }
                }
            });
        }

    </script>
}
