@model SpadStorePanel.Web.ViewModels.CartModel

@*<a href="#" class="buy">
         <span>
             @if (Model.CartItems != null && Model.CartItems.Any())
             {
                 <small class="cart-notification">@Model.CartItems.Count</small>
             }
         </span>
        @{
                 var count = 0;
                 long price = 0;
                 if (Model.CartItems != null && Model.CartItems.Any())
                 {
                     count = Model.CartItems.Count;
                     price = Model.TotalPrice;
                 }

                 var strPrice = price.ToString("##,###");
                 if (string.IsNullOrEmpty(strPrice))
                 {
                     strPrice = "0";
                 }
             }
             <small class="header-small">@count - @strPrice تومان</small>
    </a>

    <div class="cart-dropdown header-link-dropdown">
            @if (Model.CartItems != null && Model.CartItems.Any())
            {
                <ul class="cart-list link-dropdown-list">
                    @foreach (var item in Model.CartItems)
                    {
                        <li class="mini_cart_item">
                            <a class="close-cart" href="javascript:void(0)" onclick="RemoveFromCart(@item.Id,@item.MainFeatureId, 'true')"><i class="fa fa-times-circle"></i></a>
                            <figure>
                                <a href="/Shop/Product/@item.Id" class="pull-right">
                                    <img alt="@item.ProductName" src="~/Files/ProductImages/Thumb/@item.Image">
                                </a>
                                <figcaption>
                                    <span>
                                        <a class="cartproductname" href="/Shop/Product/@item.Id">@item.ProductName</a>
                                    </span>
                                    <p class="cart-price">@item.Price.ToString("##,###") تومان</p>
                                    <div class="product-qty">
                                        <label>تعداد</label>
                                        <span class="custom-qty" style="justify-content: space-around">
                                            <a href="javascript:void(0)" onclick="AddToCart(@item.Id,@item.MainFeatureId, event)" style="color: #F22A59; margin: 0 10px; font-size: 1rem">+</a>
                                            <span>@item.Quantity</span>
                                            <a href="javascript:void(0)" onclick="RemoveFromCart(@item.Id,@item.MainFeatureId, 'false', event)" style="color: #F22A59; margin: 0 10px; font-size: 1rem">-</a>
                                        </span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                    }
                </ul>
                <p class="cart-sub-totle">
                    <span class="pull-right">مبلغ کل</span>
                    <span class="pull-left">
                        <strong class="price-box cart-total-price">@Model.TotalPrice.ToString("##,###") تومان</strong>
                    </span>
                </p>
                <div class="clearfix"></div>
                <div class="mt-20" style="display: flex; justify-content: space-around">
                    <a href="/Shop/Cart" class="btn-color btn">سبد خرید</a>
                    <a href="/Shop/Checkout" class="btn-color btn">پرداخت </a>
                </div>
            }
            else
            {
                <h4 style="margin: 0 auto;text-align:center">سبد خرید شما خالی است</h4>
            }
        </div>*@



@{
    var count = 0;
    long price = 0;
    if (Model.CartItems != null && Model.CartItems.Any())
    {
        count = Model.CartItems.Count;
        price = Model.TotalPrice;
    }

    var strPrice = price.ToString("##,###");
    if (string.IsNullOrEmpty(strPrice))
    {
        strPrice = "0";
    }
}

<div class="right-btn-wrapper">
    <ul>

        <li class="right-menu"> <a class="fas fa-user usericon" href="Customer/Auth/login"></a> </li>
        <li class="cart" id="cart">
            <i class="fas fa-shopping-basket"></i>
            <span class="badge">@count</span>

        </li>
    </ul>
</div>


    </div>
</nav>
<!-- navbar area end -->


<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup home-3" id="search-popup">
    <form action="#" class="search-popup-form">
        <div class="form-element">
            <input type="text" class="input-field" placeholder="جستجو.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fas fa-search"></i></button>
    </form>
</div>

<!-- cart sidebar area start -->
<div class="cart-sidebar-area home-3" id="cart-sidebar-area">
    <div class="top-content">
        <!-- top content -->
        <a href="#" class="logo">
            <h3 class="text-white">آقای باتری</h3>
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div><!-- //. top content -->
    <div class="bottom-content">
        <!-- bottom content -->
        <div class="cart-products">
            <!-- cart product -->
            <h4 class="title">سبد خرید</h4>
            @if (Model.CartItems != null && Model.CartItems.Any())
            {
                foreach (var item in Model.CartItems)
                {
                    <div class="single-product-item" @*style="display: none;"*@ id="shopProducts1">
                        <!-- single product item -->
                        <div class="thumb">
                            <a href="/Shop/Product/@item.Id">
                                <img src="~/Files/ProductImages/Thumb/@item.Image" width="80px" height="80px" alt="recent review">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title">@item.ProductName</h4>
                            <div class="price">
                                <span class="pprice text-white">@item.Price.ToString("##,###") تومان</span>
                                @*<del class="dprice" style="color: #c25f5f;">
                                500.00
                                تومان
                            </del>*@
                            </div>
                            <a href="#" class="remove-cart" onclick=" deleteINShop(); RemoveFromCart(@item.Id,@item.MainFeatureId, 'true'); ">حذف</a>
                        </div>
                    </div><!-- //. single product item -->

                }
                <div class="btn-wrapper">
                    <a href="/Shop/Cart/" class="boxed-btn">بررسی و پرداخت</a>
                </div>
            }
            else
            {
                <h4 class=" text-white">سبد خرید</h4>
            }


            @*<div class="single-product-item" id="shopProducts2">
            <!-- single product item -->
            <div class="thumb">
                <img src="/Content/client/pic/b2.jpg" width="80px" height="80px" alt="recent review">
            </div>
            <div class="content">
                <h4 class="title">باتری ماشین</h4>
                <div class="price">
                    <span class="pprice text-white">350.00 تومان</span> <del class="dprice"
                                                                             style="color: #c25f5f;">
                        500.00
                        تومان
                    </del>
                </div>
                <a href="#" class="remove-cart" onclick=" deleteINShop() ">حذف</a>
            </div>
        </div><!-- //. single product item -->*@


        </div> <!-- //. cart product -->
    </div><!-- //. bottom content -->
</div>
<!-- cart sidebar area end -->
