@model List<SpadStorePanel.Web.ViewModels.ProductWithPriceViewModel>


@*<div class="tab-pane p-0 fade show active" id="products-sale-tab" role="tabpanel"
         aria-labelledby="products-sale-link">
        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
             data-toggle="owl" data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "rtl": true,
                                "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5
                                        },
                                        "1600": {
                                            "items":6,
                                            "nav": true
                                        }
                                    }
                                }'>

            @foreach (var item in Model)
            {

                <div class="product product-11 text-center">
                    <figure class="product-media">
                        <a href="/Shop/Detail/@item.Id">
                            <img src="/Files/ProductImages/Image/@item.Image" alt="@item.ShortTitle" class="product-image">
                            <!-- <img src="~/Content/Client/assets/images/demos/demo-2/products/product-5-2.jpg" alt="تصویر محصول"
                            class="product-image-hover"> -->
                        </a>

                        <div class="product-action-vertical">

                        </div><!-- End .product-action-vertical -->

                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <h3 class="product-title text-center">
                            <a href="/Shop/Detail/@item.Id">
                                @item.ShortTitle
                            </a>
                        </h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            @item.Price.ToString("##,###")
                            تومان
                        </div><!-- End .product-price -->


                    </div><!-- End .product-body -->
                    <div class="product-action">
                        <a href="/Shop/Detail/@item.Id" class="btn-product btn-cart"><span>دیدن محصول</span></a>
                    </div><!-- End .product-action -->
                </div><!-- End .product -->
            }

        </div><!-- End .owl-carousel -->
    </div><!-- .End .tab-pane -->*@


<div class="tab-pane fade show active" id="popular_2" role="tabpanel"
     aria-labelledby="popular-tab_2">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <a href="/Shop/ProductDetails/@item.Id">
                    <div style="cursor: pointer;"
                         class="single-rated-box-two">
                        <!-- single rated box two -->
                        <div class="thumb my-auto">
                            <img src="/Files/ProductImages/Thumb/@item.Image" width="135px" alt="product small image">
                        </div>
                        <div class="content">
                            @{
                                var rate = (item.Rate < 6 ? item.Rate : 5);
                                rate = rate > 0 ? rate : 0;
                                var rateInt = Math.Abs(rate);
                                var lostRateInt = 5 - rateInt;
                            }
                            <ul class="ratings">
                                @for (int i = 0; i < rateInt; i++)
                                {
                                    <li><i class="fas fa-star"></i></li>
                                }
                                @for (int i = 0; i < lostRateInt; i++)
                                {
                                    <li><i class="far fa-star"></i></li>
                                }
                                @*<li><i class="fas fa-star-half-alt ninedeq"></i></li>*@
                            </ul>
                            <p class="title">
                                @item.ShortTitle
                            </p>

                            <div class="price">
                                @if (item.Price == 0)
                                {
                                    <span class="sprice">-</span>
                                }
                                else if (item.PriceAfterDiscount < item.Price)
                                {
                            <span class="sprice">@item.PriceAfterDiscount.ToString("##,###") تومان</span>
                            <del class="dprice">@item.Price.ToString("##,###") تومان</del>
                                }
                                else
                                {
                                    <span class="sprice">@item.Price.ToString("##,###") تومان</span>
                                }
                            </div>
                        </div>

                    </div><!-- //.single rated box two -->
                </a>
            </div>
        }

        @*<div class="col-lg-4 col-md-6">
            <div onclick=" window.location = '/shop/' " style="cursor: pointer;"
                 class="single-rated-box-two">
                <!-- single rated box two -->
                <div class="thumb my-auto">
                    <img src="~/Content/client/pic/b2.jpg" width="135px" alt="product small image">
                </div>
                <div class="content">
                    <ul class="ratings">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star-half-alt ninedeq"></i></li>
                        <li><i class="far fa-star"></i></li>
                    </ul>
                    <a href="#">
                        <a href="/shop/" class="title">باتری ماشین</a>
                    </a>
                    <div class="price">
                        <span class="sprice">83.00 تومان</span> <del class="dprice">120.00 تومان</del>
                    </div>
                </div>
            </div><!-- //.single rated box two -->
        </div>*@
    </div>
</div>