@model SpadStorePanel.Web.ViewModels.FooterViewModel
<li><a href="@Model._SocialLinks.Facebook"><i class="fa fa-facebook"></i></a></li>
<li><a href="@Model._SocialLinks.GooglePlus"><i class="fa fa-google-plus"></i></a></li>
<li><a href="@Model._SocialLinks.twitter"><i class="fa fa-twitter"></i></a></li>
<li><a href="@Model._SocialLinks.Linkdin"><i class="fa fa-instagram"></i></a></li>
<li><a href="@Model._SocialLinks.Pintrest"><i class="fa fa-rss"></i></a></li>

