


<div class="col-lg-4 col-sm-6">
    <div class="icon-box icon-box-sm text-center">
        <span class="icon-box-icon">
            <i class="icon-puzzle-piece"></i>
        </span>
        <div class="icon-box-content">
            <h3 class="icon-box-title">@ViewBag.first.Title</h3><!-- End .icon-box-title -->
            <p class="text-center">
                @ViewBag.first.ShortDescription
            </p>
        </div><!-- End .icon-box-content -->
    </div><!-- End .icon-box -->
</div><!-- End .col-lg-4 col-sm-6 -->

<div class="col-lg-4 col-sm-6">
    <div class="icon-box icon-box-sm text-center">
        <span class="icon-box-icon">
            <i class="icon-life-ring"></i>
        </span>
        <div class="icon-box-content">
            <h3 class="icon-box-title">@ViewBag.two.Title</h3><!-- End .icon-box-title -->
            <p class="text-center">
                @ViewBag.two.ShortDescription
            </p>
        </div><!-- End .icon-box-content -->
    </div><!-- End .icon-box -->
</div><!-- End .col-lg-4 col-sm-6 -->

<div class="col-lg-4 col-sm-6">
    <div class="icon-box icon-box-sm text-center">
        <span class="icon-box-icon">
            <i class="icon-heart-o"></i>
        </span>
        <div class="icon-box-content">
            <h3 class="icon-box-title">@ViewBag.three.Title</h3><!-- End .icon-box-title -->
            <p class="text-center">
                @ViewBag.three.ShortDescription
            </p>
        </div><!-- End .icon-box-content -->
    </div><!-- End .icon-box -->
</div><!-- End .col-lg-4 col-sm-6 -->
